1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [3]:
test1='This is a test of the emergency text system,'
f=open('test.txt','wt')
f.write(test1)

44

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [4]:
f2=open('test.txt','rt')
test2=f2.readline()
print(test2)

test1==test2           
# So there is no difference between test1 and test2.

This is a test of the emergency text system,

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
import csv
rows = '''
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open('books.csv','w') as f2:
    f2.write(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
db=sqlite3.connect('books.db')
c=db.cursor()
c.execute("DROP TABLE IF EXISTS books")
c.execute('create table books(title varchar(20),author varchar(20), year int)')
print("Database connected and table created!")
db.commit()
db.close()

Database connected and table created!

5. Read books.csv and insert its data into the book table.

In [13]:
import csv
import sqlite3
import pandas
db=sqlite3.connect('books.db')
c=db.cursor()
books = pandas.read_csv('books.csv')
books.to_sql('books', db, if_exists='replace')
rows = c.execute("SELECT * FROM books").fetchall()
#for i in rows:
print(rows)
db.commit()
db.close()

[(0, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960), (1, 'Perdido Street Station', 'China Miéville', 2000), (2, 'Thud!', 'Terry Pratchett', 2005), (3, 'The Spellman Files', 'Lisa Lutz', 2007), (4, 'Small Gods', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [18]:
import sqlite3
db=sqlite3.connect('books.db')
c=db.cursor()
ttl='select title from books order by title'
#for row in db.execute(ttl).fetchall():
rows=db.execute(ttl).fetchall()
print(rows)
db.commit()
db.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [24]:
import sqlite3
db=sqlite3.connect('books.db')
c=db.cursor()
for rows in db.execute('select * from books order by year'):
    print(rows)
db.commit()
db.close()

(0, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960)
(4, 'Small Gods', 'Terry Pratchett', 1992)
(1, 'Perdido Street Station', 'China Miéville', 2000)
(2, 'Thud!', 'Terry Pratchett', 2005)
(3, 'The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [23]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [24]:
!pip install redis

Requirement already satisfied: redis in c:\users\pratiksha\anaconda3\lib\site-packages (4.3.4)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\pratiksha\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: packaging>=20.4 in c:\users\pratiksha\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\pratiksha\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\pratiksha\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\pratiksha\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [21]:
import redis

In [ ]:
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)